.chat{
    position: relative;
    height: 80vh;
    width: 30%;
    background-color: rgba(240, 248, 255, 0.486);
    margin: 4% auto;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
    display: grid;
    grid-template-rows: 0.1fr 1fr 5fr 0.5fr 0.1fr;
}
#text{
    background-color: rgba(240, 248, 255, 0.486);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#submit{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    background-color: rgba(240, 248, 255, 0.678);
}
#chatBOX::-webkit-scrollbar{
    display: none;
}