/* main css */
.sv-root-modern {
    margin: 0;
    position:relative;
    margin-left: 25%;
    margin-right: 25%;

}

/* input boxes */
.sv-root-modern input.sv-text{
    text-align:center
}

/* Submit button */
.sv-root-modern .sv-footer__complete-btn {
    text-align: center;
    font-size:25px;

}
/* prev button */
.sv-root-modern .sv-footer__prev-btn {
 margin-bottom:25px;
 text-align: center;
 font-size:16px

}

.sv-root-modern{
    background-color: rgba(240, 248, 255, 0.486);
    height: 80vh;
    width: 35vw;
    margin: 10vh auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
}
.sv-container-modern{
    width: 80% !important;
    margin: 0 auto !important;
}

.sv-item__control-label{
    color:antiquewhite;
}

/* next button */
.sv-root-modern .sv-footer__next-btn{
    text-align: center;
    font-size:16px
}

/* to prevent background overlapping our theme */
/* .wrapper::before{
content: normal;
} */
.sv-header__text{
    color: #F67280;
}
#sq_107i{
    border-bottom: 1px solid #F67280;
}
input, select, textarea{
    color: #F67280 !important;
}
.sv-footer__next-btn, .sv-footer__prev-btn, .sv-footer__complete-btn{
    background-color: #F67280 !important;
    color:antiquewhite !important;
}
.sv-question__title--answer{
    background-color: rgba(0, 0, 0, 0) !important;
}   